/* rgb(122, 190, 212); */


html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #d5e3e7;
    margin: 0;
    height: 100%;
}

.icon {
    max-width: 25px;
    vertical-align: middle;
    padding: 5px;
    display: inline-block;
}


.login {
    padding: 0 10px;
    background-color: white;
    display: block;
    border-radius: 10px;
    margin: 10px;
    width: 250px;
    cursor: pointer;
    
    
}



#new-account {
    cursor: pointer;
    text-decoration-line: underline;
}


.login p {
    margin: 1em;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    color: #737373
}

#root {
    height: 100%; 
    display: flex;
    flex-flow: column;
}

.login.facebook p{
    margin: 1em 0.4em;
}

#logins, #logo {
    display: block;
    margin: auto;
}

#logins {
    margin-top: 10px;
}

#create-account {
    display: block;
    margin: auto;
    margin-top: 10px;
}

.login {
    margin: 10px auto;
}

.login-input, .post-input, select.post-input option {
    width: 250px;
    display: block;
    margin: 10px auto;
    padding: 12px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif !important;
    border: 0.5px solid rgb(11, 89, 116);

}

.login-input:focus, .post-input:focus, .comment-input {
    outline: none;
    border: 2px solid rgb(11, 89, 116);
}

.login-btn, #post-it, #cancel, .comment-btn {
    display: block;
    margin: 10px auto;
    font-family: 'Roboto', sans-serif;
    border: 0.5px solid rgb(11, 89, 116);;
    padding: 10px;
    background: white;
    border-radius: 10px;
    color: rgb(11, 89, 116);
    font-size: 16px;
    cursor: pointer;
}

.login-btn:hover {
    color: white;
    background-color: rgb(11, 89, 116);
}

.login-btn:focus, #post-it:focus, #cancel:focus {
    outline: none;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: whitesmoke;
    /* background-color:  rgb(33, 126, 156); */
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: whitesmoke;
    /* background-color:  rgb(33, 126, 156); */
    display: flex;
    flex-flow: row-reverse;
}

.icon-large, i.fas.fa-edit.fa-3x:before {
    max-width: 50px;
    max-height: 50px;
     margin-top: 8px;  /*agregado por ana */
}

#user-profile, #new-post {
    display: block;
    margin: auto 10px;
    margin-right: 10px;
    cursor: pointer;
    
}

.responsive {
    display: none;
}

#user-profile-side-nav {
    position: fixed;
    display: none;
    height: 100%;
    width: 70%;
    background-color: whitesmoke;
    z-index: 100;
    margin: auto;
    right: 0;
}

.user-pic, #user-name {
    max-width: 50%;
    display: block;
    margin: auto;
    margin-top: 10%;
    border-radius: 50%;
}

#user-name {
    text-align: center;
    font-size: 18px;
}

.side-option {
    max-width: 90%;
    height: 10%;
    display: flex;
    margin: 15% auto;
    font-size: 18px;

}

.side-option a {
    display: block;
    margin: auto;
}

#content {
    height: 100%;
    margin-top: 80px;
    margin-bottom: 80px;
    /* overflow: scroll; */
    /* display: flex-start; */
}


.user-pic-post {
    max-width: 50px;
    max-height: 50px;
    margin-right: 15px;
    margin-left: 10px;
    border-radius: 50%;
}

.post, .comments-section {
    width: 80%;
    min-height: 20%;
    margin: 5% auto;
    padding: 5%;
    border: 1px solid rgb(33, 126, 156);
    background-color: whitesmoke;
    border-radius: 10px;

}

.post .post-header span p, .comments-section .comment-header span p {
    margin: auto 0;
    display: inline-block;
}

.post-header span, .comment-header span {
    display: flex;
}

.post-content, .comment-content {
    padding: 10px;
}

.post-content span, .comment-content span {
    word-wrap: break-word;
}

#search-nav {
    display: block;
    margin: auto;
    margin-right: 1%;
}
#search {
    border-radius: 10px;
    line-height: 30px;
    border: 1px solid rgb(11, 89, 116);
    padding: 5px;
    font-size: 14px;
    max-width: 70%;
}

.fas.fa-search.fa-lg {
    margin-left: 10px;
}

#search:focus {
    outline: none;
    border: 2px solid rgb(11, 89, 116);
}

#logo {
    max-height: 80px;
    display: block;
    margin: auto;
   
}

#logo-login {
    max-height: 80px;
    display: block;
    margin: auto;
    min-height: fit-content;
    overflow: hidden;
    margin-bottom: 0;
}

#volver {
    cursor: pointer;
    display: block;
    text-decoration-line: underline;
    margin-top: 50px;
}

.options{
    display: flex;
} 

.edit-post{
    margin: auto;
    /* margin-right: 14px; */
    cursor: pointer;
    margin-top: 5px;   /*agregado por ana*/
    size: 5px;
}/*agregado y cambiado por ana*/


#div-logo {
    display: block;
    margin: auto;
    max-height: 80px;
}

.like, .comments{
    cursor: pointer;
    display: inline-flex;
    flex-flow: row;
}

.like .material-icons, .comments .material-icons{
    margin: auto 5px;
    display: inline-block;
}

.like span, .comments span{
    display: inline-block;
    margin: auto 5px;
}

.post-input {
    display: block;
    margin: 10px auto;
    width: 80%;
    border-radius: 10px;
}

select.post-input {
    box-sizing: content-box;
    background-color: white;
}

textarea.post-input {
    word-break: break-word;
    resize: none;
    height: 80%;
}

.input-div {
    height: 60%;
}

#post-it {
    float: right;
    margin-right: 7%;
    color: white;
    background-color: rgb(11, 89, 116);
}

#cancel {
    display: block;
    margin: auto;
    margin-left: 7%;
    float: left;
}

.post-and-cancel {
    width: 100%;
    overflow: auto;
    display: flex;
}

.comment-input {
    width: 90%;
    display: block;
    margin: 10px auto;
    padding: 12px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif !important;
    border: 0.5px solid rgb(11, 89, 116);
    height: 50px;
    resize: none;
}

.create-comments-section {
    margin-right: 100px;
    width: 100%;
    min-height: 20%;
    margin: 5% auto;
    /* border: 1px solid rgb(33, 126, 156); */
    background-color: whitesmoke;
    border-radius: 10px;
}
.comment-btn {
    color: white;
    background-color: rgb(11, 89, 116);
    margin-right: 10px;
}



.remove-post{  /*agregado por ana*/
    size: 5px;
    margin-top: 5px; 
    margin-left: 30px;
    cursor: pointer;

}

/* .create-comments{
    margin-right: 0px;
    margin-top: 0px; 
} */

.teachers-font {  /*agregado y cambiado por ana*/
    color: rgb(11, 89, 116);
    text-align: center;
    margin-left: 13px;
    margin-top: 5px; 
    cursor: pointer; /*agregado por ana*/
} 

.remove-comment, .edit-comment{  /*agregado por ana*/
    cursor: pointer;
} 

.edit-comment, .remove-comment{/*agregado por ana*/
    color: rgb(11, 89, 116);
    margin-left: 40px;
    margin-top: 100px;
}

.material-icons{ /*agregado por ana*/
    margin-right: 179px;
    margin-top: 28px;
    width: 17px;
}

.arrow{
    max-width: 20;
    color: steelblue;
}

@media only screen and (max-width: 768px) {
    .responsive {
        display: flex;
    }
  }